<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AI Recruitment</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='loading3.css') }}"
    />
  </head>
  <body>
    <!-- partial:uploading.partial.html -->
    <div class="wrap">
      <div class="loading">
        <div class="bounceball"></div>
        <div class="text">NOW LOADING...</div>
      </div>
    </div>
    <!-- partial -->
  </body>
  <script>
    window.location.replace("/streamlit");
  </script>
</html>
